# List Comprehension

In [3]:
liste_1 = [1,2,3,4,5]  # Karesini alip listeye eklemek istiyorum

empty_list = []

for i in liste_1 :
    empty_list.append(i ** 2)

print(empty_list)

[1, 4, 9, 16, 25]

In [4]:
# List Comperesion ile yapimi

[ i ** 2 for i in liste_1]

[1, 4, 9, 16, 25]

In [7]:
liste_2 = ["Renault!", "fiat*", "ford?"]

liste_2

['Renault!', 'fiat*', 'ford?']

In [10]:
for i in liste_2:
    print(i.replace("!", "").replace("*", "").replace("?",""))

Renault
fiat
ford

In [12]:
duzenlenmis_liste = []

for i in liste_2:
    duzenlenmis_liste.append(i.strip("?!*"))

print(duzenlenmis_liste)

['Renault', 'fiat', 'ford']

In [14]:
[ i.strip("!?*") for i in liste_2] # For dongusu kullaniyorsak islem kismi for dongusunun solunda yapilmali

['Renault', 'fiat', 'ford']

In [15]:
sayilar_listesi = [1,15,2,36,5,89,45,62,52,71,30,56,45,95,61,48]

tek_sayilar = []

for i in sayilar_listesi:

    if i %2 :
        tek_sayilar.append(i)

print(tek_sayilar)

[1, 15, 5, 89, 45, 71, 45, 95, 61]

## For + If

In [16]:
[ i for i in sayilar_listesi if i % 2 == 1]

# sayilar listesinde for dongusuyle dolas. eger kalan1 se tek sayidir yazdir

#For + if kullanilirken if yapisi for un sagina yapilacak islem for un soluna yazilir

[1, 15, 5, 89, 45, 71, 45, 95, 61]

## For + If + Else

In [21]:
# çift olanlar yerinde olduğu gibi kalsın, tek olanların karesini yazdırın
sayilar_listesi = [1,15,2,36,5,89,45,62,52,71,30,56,45,95,61,48]

sonuc = []

for i in sayilar_listesi:



        if  i % 2 == 0:

            sonuc.append(i)

        else:
            sonuc.append(i ** 2 )
print(sonuc)

[1, 225, 2, 36, 25, 7921, 2025, 62, 52, 5041, 30, 56, 2025, 9025, 3721, 48]

In [23]:
[ i if i % 2 == 0 else i ** 2 for i in sayilar_listesi]


# for if + else ile kullanılacaksa en sağa yazılır. diğer işlemler soldadır.
#if in işlemi if in solunda, else in işlemi else in sağında yazılır.

# for if + else ile kullanılacaksa en saga yazılır.
# diğer işlemler soldadır.
# if in işlemi if in solunda
# else in işlemi else in sagında yazılır

[1, 225, 2, 36, 25, 7921, 2025, 62, 52, 5041, 30, 56, 2025, 9025, 3721, 48]

In [24]:
[i * j for i in (1,2,3) for j in [ 4,5,6]]

[4, 5, 6, 8, 10, 12, 12, 15, 18]

In [25]:
for i in ( 1,2,3):
    for j in [4,5,6]:
        print( i * j)

4
5
6
8
10
12
12
15
18

In [26]:
[ i * j for i in (1,2,3) for j in [4,5,6]]
#----------------ic dongu---------dis gongu--

[4, 5, 6, 8, 10, 12, 12, 15, 18]

25