# Positional and keyword Arguments

In [10]:
def my_name(first_name, last_name, number):

    return (f"My name is {first_name} {last_name} {number}")

In [3]:
my_name("Kubra","Uen","5")

My name is Kubra Uen

In [12]:
my_name("Uen", "Kubra","9")

'My name is Uen Kubra 9'

In [12]:
my_name(last_name= "uen", first_name="kubra")

My name is kubra uen

In [13]:
my_name("sedat") # bir parametre eksik girildigi icin calismiyor

TypeError: my_name() missing 1 required positional argument: 'last_name'

In [15]:
def your_name(first_name, last_name = "Erdal"):
        print(f"Your name is {first_name} {last_name}")

In [16]:
your_name("Betul") #Default fonksiyon tanimladigimiz icin calisir

Your name is Betul Erdal

In [17]:
your_name("Betul", "Celebi")

Your name is Betul Celebi

In [18]:
your_name("Selahattin")

Your name is Selahattin Erdal

In [19]:
your_name(last_name="yildiz", "murat") #once positional olan yazilir

SyntaxError: positional argument follows keyword argument (137128670.py, line 1)

In [20]:
your_name( "murat", last_name="yildiz")

Your name is murat yildiz

In [13]:
def your_name_2(first_name, last_name, second_name = "Ali"): #default deger en sona yazilmali

    print(f"Your name is {first_name} {second_name} {last_name} ")

In [14]:
your_name_2("kubra", "Uen")

Your name is kubra Ali Uen

In [26]:
def tek_sayilar(a,b,c,d,e):

    tek_sayilar = []

    for i in a,b,c,d,e:

        if i % 2:
            tek_sayilar.append(i)

    return tek_sayilar

In [27]:
tek_sayilar(4,75,45,26,15)

[75, 45, 15]

In [28]:
tek_sayilar(4,75,45) #Kac positional arguman kullandiysam o kadar deger yazmam lazim yoksa calismaz

TypeError: tek_sayilar() missing 2 required positional arguments: 'd' and 'e'

# Arbitrary Number and Arguments (* args, ** kwargs)

In [15]:
def tek_sayilar_2(* sayilar): # kac tane arguman verecegimi bilmedigim durumlarda yazdigim ifade

    tek_sayilar = []

    for i in sayilar:

        if i % 2:
            tek_sayilar.append(i)
    return tek_sayilar

In [17]:
tek_sayilar_2(5,98,23,76,56)

[5, 23]

In [35]:
tek_sayilar_2(4,75,5,6,7,312,1,2,45)

[75, 5, 7, 1, 45]

In [38]:
def tek_çift(* sayilar):

    result = []
    for i in sayilar:
        if i % 2 == 0:
            result.append(i * 2)
        else:
            result.append(i ** 2)
    
    return result

In [40]:
def tek_çift_2(* sayilar):

    return [i * 2 if i % 2 == 0 else  i ** 2 for i in sayilar]

In [42]:
tek_çift_2(3,4,52)

[9, 8, 104]

In [43]:
tek_çift_2(*range(1,10))

[1, 4, 9, 8, 25, 12, 49, 16, 81]

## ** kwargs

In [46]:
dict_1 = {"name1" : "seyda", "name2" : "medine", "name3" : "orkun"}

dict_1

{'name1': 'seyda', 'name2': 'medine', 'name3': 'orkun'}

In [48]:
def kwargs_function(** kwargs):
    
    for i, j in kwargs.items():
        print(f"key: {i}, value: {j}")

In [49]:
kwargs_function(name4 = "oguz", name5 = "murat")

key: name4, value: oguz
key: name5, value: murat

In [50]:
kwargs_function(name4 = "oguz", name5 = "murat", name6 = "yildiz")

key: name4, value: oguz
key: name5, value: murat
key: name6, value: yildiz