# Filter()

In [21]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Verilen bir koşul fonksiyonu
def is_even(num):
    return num % 2 == 0

# 'is_even' fonksiyonunu kullanarak çift sayıları filtrele
even_numbers = filter(is_even, numbers)

# Sonuçları liste olarak al
even_numbers_list = list(even_numbers)

print(even_numbers_list)  # Çıktı: [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

icerisine bir fonksiyon none ve iterable aliyor ve cikti olarak filter oject verir.
Filtreleme fonksiyonu- true olanlari filtreler
 iki argüman alır: bir fonksiyon ve bir dizi. Fonksiyon, her öğe için çağrılır ve dönen değer True ise, o öğe sonuç dizisine dahil edilir. İşte basit bir örnek:

In [1]:
filter(None, "hello")

In [6]:
list(filter(None, "hello")) # Tum true olan ifadeleri bize verecek

['h', 'e', 'l', 'l', 'o']

In [7]:
list(filter(None, [ 1,2,0,3.14, True,False, 0.0, "Techpro"])) # Sadece true olanlari  dondurecek

[1, 2, 3.14, True, 'Techpro']

In [2]:
def find_odds(x):

    if x % 2:
        return True
    else:
        return False

In [4]:
find_odds(False)

False

In [10]:
find_odds(6)

False

In [11]:
list(filter(find_odds, [1,2,3,4,5,6,7,8,9])) # def fonksiyonuna bakti ve sadece true olanlari dondurdu

[1, 3, 5, 7, 9]

In [12]:
tuple(filter(find_odds, [1,2,3,4,5,6,7,8,9])) #Tuple dondurecek

(1, 3, 5, 7, 9)

In [13]:
def find_evens(x):

    if x % 2:
        return False
    else:
        return True

In [14]:
tuple(filter(find_evens, [1,2,3,4,5,6,7,8,9]))

(2, 4, 6, 8)

In [15]:
isimler_listesi = ["serhat", "sedat", "bahar", "cennet", "kubra"]

In [5]:
def len_5(x):

    if len(x) == 5:
        return True
    else:
        return False

In [ ]:
list(filter(len_5, isimler_listesi))

['sedat', 'bahar', 'kubra']

In [6]:
def find_armstrong_2(x):

    x = str(x)

    uzunluk = len(x)

    if int(x) == sum([int(i) ** uzunluk for i in x]):
        return int(x)

In [7]:
find_armstrong_2(40)

In [8]:
list(filter(find_armstrong_2, range(10,1001)))

[153, 370, 371, 407]

# lambda()

 tek bir satırda tanımlanır ve daha karmaşık bir fonksiyon tanımı oluşturmadan önce geçici olarak bir fonksiyon kullanmanız gerektiğinde kullanışlıdır. Lambda ifadeleri, lambda anahtar kelimesiyle başlar ve ardından parametreler gelir, sonra da işlem yapılır. Kullan at fonksiyonu olarak dusunebiliriz.

In [9]:
def kareler_toplami(x,y):  
    return x ** 2 + y **2

In [10]:
kareler_toplami(3,4)

25

In [11]:
lambda x,y: x ** 2 + y ** 2 # fonksiyonu olusturduk. yazildigi an calisir.

In [12]:
(lambda x,y: x ** 2 + y ** 2 ) (9,2) #calismasi icin argumanlari hemen ardindan vermemiz lazim. calisti ve bitti

85

In [36]:
(lambda x: len(x) == 5 ) ("Kubra") # uzunluk 5 e esit mi?

True

In [40]:
list(filter((lambda x: len(x) == 6), isimler_listesi)) # ismiler listesinde karakter sayisi 6 olanlari getir

['serhat', 'cennet']

In [53]:
# lambda ile string ifadeyi tersten yazdirsin.

(lambda name : name[::-1]) ("Kubra")

'arbuK'

In [61]:
(lambda name : name[::-1] == name) ("nazan") #palindrom bir isim

True

In [13]:
import pandas as pd #pandas data analist kutuphanesi.import et ve buna pd ismini ver dedik. pd dedigimizde pandas gelecek

In [14]:
df = pd.read_csv("adult_eda.csv")

In [15]:
df # Datayi diger dosyadan cektik.

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12.0,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9.0,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9.0,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9.0,Never-married,Adm-clerical,NaN,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [69]:
df.sex #cinsiyet bolumunu cagirdik.

0          Male
1          Male
2          Male
3          Male
4        Female
          ...
32556    Female
32557      Male
32558    Female
32559      Male
32560    Female
Name: sex, Length: 32561, dtype: object

In [70]:
df.sex.apply(lambda x : 0 if x == "Male" else 1 ) #her biri satiri tek tek dolasacak male 0 female 1 yapacak

0        0
1        0
2        0
3        0
4        1
        ..
32556    1
32557    0
32558    1
32559    0
32560    1
Name: sex, Length: 32561, dtype: int64

In [72]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12.0,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9.0,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9.0,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9.0,Never-married,Adm-clerical,NaN,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

 cvs dosyasi --  comma sepperated Values kisaltilmisidir. verilerin virgulle ayrilarak yazildigi dosya

In [73]:
(lambda x: x ** 2 if x % 2 else x * 2) (20) # sayi tek ise x in karesini yazdir sayi ciftse x carpi 2

40