In [ ]:
print("Hello")

In [ ]:
print("'Kubra'")

In [ ]:
print(""""'""")

In [ ]:
print("""techpro"""'deneme'"?"'!')

# Pep8 Kurallari
### Pep8 Kurallari

In [1]:
3 + 5 #3 ile 5 toplami

8

Indentasyon: İndentasyon için 4 boşluk kullanılmalıdır. (PEP 8'de tab kullanımı önerilmez.)
Boşluklar: Operatörler etrafında boşluk kullanılmalıdır ancak gereksiz boşluklar olmamalıdır.
Satır uzunluğu: Satır uzunluğu 79 karakteri geçmemelidir.
İsimlendirme: Fonksiyonlar, değişkenler ve metotlar için küçük harfler ve gerektiğinde alt çizgi kullanılmalıdır.
Yorumlar: Kodun anlaşılması için yeterli yorum eklenmelidir.
Dizgi yönergeleri: Tek tırnak veya çift tırnak kullanılabilir, ancak tutarlılık sağlanmalıdır.
İmportlar: Her import ifadesi kendi satırında olmalıdır.

## Variables

In [ ]:
print("Techpro Education")

In [ ]:
course = "Techpro Education"

In [ ]:
print(course)

In [ ]:
age = 32

In [ ]:
print(age)

In [ ]:
age_1 = 35
print(age_1)

In [ ]:
pi_number = 3.14 
print(pi_number)

In [ ]:
name_5 = "Aytac"
name_6 = "Erkan"
age_3 = 33

In [ ]:
print(name_5, name_6, age_3 )

In [1]:
name_7, name_8 = " Mustafa ", "Ceren"
print(name_7, name_8)

 Mustafa  Ceren

In [2]:
name_13 = name_14 ="Ahmet"

In [3]:
print(name_13, name_14)

Ahmet Ahmet

## Data Types

In [29]:
"Hello World" #string

'Hello World'

In [30]:
" 35"

' 35'

In [31]:
type("Hello World")

str

In [32]:
age_4 = 25
type(age_4)

int

In [33]:
negative_number = -20

In [35]:
type(negative_number)

int

In [36]:
type(pi_number)

float

In [37]:
pi_number_2 = 3,14 #virgul, icerdigi icin tuple

In [38]:
type(pi_number_2)

tuple

In [39]:
araba_2 = " Opel "

In [40]:
print(araba_2)

 Opel

In [41]:
araba_yas = 3

In [42]:
araba_km= 1234.8

In [44]:
araba_kazasi= False

In [45]:
araba_3 = "Porshe "

In [46]:
print(araba_3)

Porshe

In [47]:
del araba_3

In [10]:
deneme= [1,2,3,4,5]
deneme

[1, 2, 3, 4, 5]

In [11]:
deneme.reverse()
deneme

[5, 4, 3, 2, 1]