## Type Conversion

#### All Data Types to Str

In [3]:
age = 32
type(age)

int

In [4]:
str(age)

'32'

In [5]:
type(age)

int

In [9]:
age =str(age)    #int to str

In [8]:
type(age)

str

In [11]:
print(str(3.14))

3.14

In [12]:
str(True)

'True'

In [13]:
pi_number = 3.14
type(pi_number)

float

In [15]:
str(pi_number)

'3.14'

In [16]:
type(pi_number)

float

In [19]:
pi_number = str(pi_number) # type degistirmek icin

In [18]:
type(pi_number)

str

## Str to Int

In [21]:
age_1 = "33"
type(age_1)

str

In [22]:
int(age_1)

33

In [23]:
type(age_1)

str

In [24]:
2024 - age_1

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [26]:
2024 - int(age_1)

1991

In [28]:
age_1 = int(age_1)

In [29]:
2024 - age_1

1991

In [30]:
int("-30")

-30

## Str to Float

In [31]:
float("3.14")

3.14

## float to int, int to float

In [32]:
int(5.4)

5

In [33]:
int(5.99999999)

5

In [34]:
int(5.99999999999999999999999999999)

6

In [35]:
float(5)

5.0

In [36]:
int("3.1")

ValueError: invalid literal for int() with base 10: '3.1'

In [37]:
float("3.14")

3.14

In [38]:
int(float("3.14"))

3

## Boolean to int , boolean to float

In [39]:
int(True)

1

In [40]:
int(False)

0

In [41]:
float(True)

1.0

In [42]:
float(False)

0.0

In [44]:
str(False) ## iki tirnak arasina yazar

'False'

# Arithmatic Operators

In [45]:
40 / 7

5.714285714285714

In [46]:
2.4 * 5

12.0

In [47]:
25 / 3

8.333333333333334

In [48]:
25 // 3 # Floor Devision

8

In [49]:
 25 % 3 # modulus - Kalan kismi verir

1

In [50]:
2 ** 3

8

In [52]:
5 ** 2 # double asterix - us alma islemi

25

In [54]:
25 ** 0.5 # Bir sayının 0.5. kuvveti o sayının kareköküdür.

5.0

In [55]:
 x = (4 + 2) ** ( 4 ** (1 * 2 / 2)/ 2 )

In [4]:
( 4 ** (1 * 2 / 2)/ 2 )

2.0

In [5]:
6 ** 2

36

36.0

0.5

In [58]:
#yaricapi 7 olan bir dairenin alanini bulan pyhton  kodunu yaz  pi = 3.14

In [61]:
r = 7
pi = 3.14
alan = pi * (r ** 2)
print("yaricapi 7 olan dairenin alani : ", alan)

yaricapi 7 olan dairenin alani :  153.86

In [ ]:
### bir kenarı 5 diğer kenarı 12 olan dik üçgenin hipotenüsünü bulan python kodunu yazın.

In [3]:
kenar_1 = 6
kenar_2 = 12
hypo = (kenar_1 ** 2 + kenar_2 ** 2 ) ** 0.5
print("bir kenari 5 bir kenari 12 olan ucgenin hipotenusu", hypo)

bir kenari 5 bir kenari 12 olan ucgenin hipotenusu 13.416407864998739