# Tuples

In [ ]:
# immutable --- DEGISTIRILEMEZ
# iterable
# Listelerden daha guvenlidir. Silinmez veya degistirilemez. Listelerden en buyuk farki degistirilemez olmasi

In [ ]:
tuple()
()

In [1]:
tuple("Techpro")

('T', 'e', 'c', 'h', 'p', 'r', 'o')

In [2]:
tuple([1,2,3,4,5]) # --- Tuple i listeye cevirmek icin

(1, 2, 3, 4, 5)

In [3]:
tuple([1,2,3], "Techpro")     #----Hatali calismak cunku iki argumen girilmis

TypeError: tuple expected at most 1 argument, got 2

In [8]:
tuple_1 = ("Techpro", 3, 3.14, False, [1,2,3])
tuple_1

('Techpro', 3, 3.14, False, [1, 2, 3])

In [5]:
type(tuple_1)

tuple

In [9]:
tuple(123)

TypeError: 'int' object is not iterable

In [10]:
name = " Basak "

In [11]:
tuple(name)

(' ', 'B', 'a', 's', 'a', 'k', ' ')

In [14]:
pi_number = 3.14 # birlikte tek sayi olarak float algilar
pi_number

3.14

In [15]:
type(pi_number)

float

In [24]:
pi_number2 = 3,12  # virgul koyarsak tuple algilar. iki farkli girdi diye gorur
pi_number2

(3, 12)

In [21]:
type(pi_number2)

tuple

In [23]:
len(pi_number2)

2

In [27]:
["Techpro"]    #Liste

['Techpro']

In [28]:
["Techpro", 3, False]

['Techpro', 3, False]

In [29]:
("Techpro",) # Tuple icin sonuna bir virgul koymamiz gerek

('Techpro',)

In [33]:
(123,)
type((123,))

tuple

In [32]:
tek_elemanli = ("techpro",)
len(tek_elemanli)

1

In [34]:
liste_1 = 3, 2, 5 #koseli parantez unutsak bile tuple olusur. 
liste_1

(3, 2, 5)

In [35]:
[1,2,3] + [4,5] #Listeler toplama islemi yapar

[1, 2, 3, 4, 5]

In [36]:
(1,2,3) + (4,5) # Listeler gibi toplayabilir

(1, 2, 3, 4, 5)

In [37]:
(1,2,3) * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [39]:
("Techpro", 3, False) + ("Sedat",)

('Techpro', 3, False, 'Sedat')

## Indexing & Slicing

In [46]:
tuple_2 = ("Aslan", 4, True, ["Tulay", 5, 6], ("Zeynep", 2, 3.14))

In [47]:
tuple_2[3]

['Tulay', 5, 6]

In [48]:
tuple_2[3][0]

'Tulay'

In [50]:
tuple_2[4][1]

2

In [51]:
tuple_2[1:4]

(4, True, ['Tulay', 5, 6])

In [52]:
tuple_2[3:0:-1]

(['Tulay', 5, 6], True, 4)

In [53]:
tuple_2[0]

'Aslan'

In [56]:
tuple_2[3].append(7)   #tuple ici liste degismek icin
tuple_2

('Aslan', 4, True, ['Tulay', 5, 6, 7, 7, 7], ('Zeynep', 2, 3.14))

In [57]:
tuple_2[0]

'Aslan'

In [58]:
tuple_2[0].upper()

'ASLAN'

In [59]:
tuple_2[3]

['Tulay', 5, 6, 7, 7, 7]

In [64]:
tuple_2[3].remove(5) # 5 i sildik
tuple_2

('Aslan', 4, True, ['Tulay', 6, 7, 7, 7], ('Zeynep', 2, 3.14))


## Tuple Methods

In [75]:
tuple_3 = 2,3,4,5,6

In [76]:
tuple_3

(2, 3, 4, 5, 6)

In [77]:
tuple_3.count(4)

1

In [79]:
tuple_3.count(1)

0

## index()

In [80]:
tuple_3

(2, 3, 4, 5, 6)

In [82]:
tuple_3.index(5)

3

## range()

In [86]:
range(4,10)

range(4, 10)

In [88]:
list(range(4,10))

[4, 5, 6, 7, 8, 9]

In [90]:

tuple(range(4,10))

(4, 5, 6, 7, 8, 9)

In [91]:
range(4,10)[1]

5

In [92]:
range(10)

range(0, 10)

In [93]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [99]:
range(-1,4)

range(-1, 4)

In [104]:
list(range(-10,4))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3]

In [105]:
list(range(-10,4,2))

[-10, -8, -6, -4, -2, 0, 2]

In [106]:
list(range(2,50,2))

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48]